#media-section {
    position: absolute;
    width: 50%;
    height: 100%;
    
    background: var(--fundo);

    #media-title {
        position: absolute;
        width: 188px;
        height: 40px;
        left: 266px;
        bottom: 15%;

        margin-bottom: 52px;

        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--grey);
    }

    #media-description {
        position: absolute;
        width: 399px;
        height: 46px;
        left: 161px;
        bottom: 10%;

        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--preto);
    }
}
