<div id="choose-section">
  <div>
    <div id="choose-title" class="common-font">
      WHY CHOOSE TRIGGER?
    </div>
    <div id="choose-description" class="common-font">
      Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem
      ipsum dolor sit amet, consectetuer adipiscing
    </div>
    <a href="/" id="know-more" class="box">
      <div class="icons">
        <span>SAIBA MAIS</span>
      </div>
    </a>
  </div>
  <div>
    <div class="card box" id="card-1">

    </div>
    <div class="card box" id="card-2">

    </div>
    <div class="card box" id="card-3">

    </div>
    <div class="card box" id="card-4">

    </div>
  </div>

</div>