#choose-section {
    position: absolute;
    width: 1440px;
    height: 567px;
    left: 0px;
    top: 720px;

    background: var(--branco);

    #choose-title {
        position: absolute;
        width: 400px;
        height: 24px;
        left: 240px;
        top: 178px;
        font-size: 26px;
        line-height: 30px;

        display: flex;
        text-align: center;
        justify-content: center;

        color: var(--preto);
    }

    #choose-description {
        position: absolute;
        width: 399px;
        height: 46px;
        left: 240px;
        top: 234px;

        font-size: 13px;
        line-height: 15px;
        text-align: center;

        color: var(--preto);
    }

    #know-more {
        position: absolute;
        width: 160px;
        height: 38px;
        left: 359px;
        top: 343px;

        background: var(--azul);

        div {
            position: absolute;
            width: 160px;
            height: 20px;
            top: 10px;

            color: var(--branco);
        }
    }

    #card-1 {
        right: 400px;
        top: 80px;
    }

    #card-2 {
        right: 160px;
        top: 41px;
    }

    #card-3 {
        right: 400px;
        top: 320px;
    }

    #card-4 {
        right: 160px;
        top: 281px;
    }
}

.card {
    position: absolute;
    width: 200px;
    height: 200px;

    background: var(--branco);

    border: 2px solid var(--grey);
    box-sizing: border-box;
}
