<div id="choose-section">
  <div>
    <div id="choose-title">
      WHY CHOOSE TRIGGER?
    </div>
    <div id="choose-description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem
      ipsum dolor sit amet, consectetuer adipiscing
    </div>
    <a href="/" id="know-more">
      <div>
        <span>SAIBA MAIS</span>
      </div>
    </a>
  </div>
  <div>
    <div class="card" id="card-1">

    </div>
    <div class="card" id="card-2">

    </div>
    <div class="card" id="card-3">

    </div>
    <div class="card" id="card-4">

    </div>
  </div>

</div>