
<div class="sub-section">
  <h2 class="sub-section-title common-font">LANGUAGE SKILLS</h2>

  <table class="table table-borderless common-font" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="header" colspan="2">UNSERSTANDING</th>
        <th scope="col" class="header" colspan="2">SPEAKING</th>
        <th scope="col" class="header">WRITING</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="sub-header">Listening</th>
        <th scope="col" class="sub-header">Reading</th>
        <th scope="col" class="sub-header">Spoken Production</th>
        <th scope="col" class="sub-header">Spoken Interaction</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="box">
      <tr>
        <td class="language-name">ENGLISH</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
      </tr>
      <tr>
        <td class="language-name">PORTUGUESE</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sub-section">

  <h2 class="sub-section-title common-font">
    INTERESTS
  </h2>

  <div id="interests-wrapper">
    <span class="badge">VOLUTEERING</span>
    <span class="badge">WRITING</span>
    <span class="badge">TRAVEL</span>
    <span class="badge">TEDTALKS</span>
  </div>
</div>