
<div class="sub-section">
  <p class="sub-section-title common-font">LANGUAGE SKILLS</p>

  <table class="table table-borderless common-font" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="header" colspan="2">UNSERSTANDING</th>
        <th scope="col" class="header" colspan="2">SPEAKING</th>
        <th scope="col" class="header">WRITING</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="sub-header">Listening</th>
        <th scope="col" class="sub-header">Reading</th>
        <th scope="col" class="sub-header">Spoken Production</th>
        <th scope="col" class="sub-header">Spoken Interaction</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="box">
      <tr>
        <td class="language-name">ENGLISH</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
      </tr>
      <tr>
        <td class="language-name">PORTUGUESE</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
        <td>A1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sub-section">

  <p class="sub-section-title common-font">
    INTERESTS
  </p>
</div>