<div id="explore-section">

  <div>
    <span id="match-title">
      MATCH PEOPLE AND PROJECTS!
    </span>
    <span id="descriptive-text-explore">
      Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem
      ipsum dolor sit amet, consectetuer adipiscing
    </span>
  </div>
    <a href="/" id="explore-people">
      <div>
        <span>Explore People</span>
      </div>
      <span id="blue-arrow"></span>
    </a>
    <a href="/" id="explore-projects">
      <div>
        <span>Explore Projects</span>
      </div>
      <span id="green-arrow"></span>
    </a>
  <div>

  </div>
</div>