<div id="explore-section" class="box">

  <div>
    <span id="match-title" class="common-font">
      MATCH PEOPLE AND PROJECTS!
    </span>
    <span id="descriptive-text-explore" class="common-font">
      Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem
      ipsum dolor sit amet, consectetuer adipiscing
    </span>
  </div>
  <a href="/" id="explore-people" class="box">
    <div class="common-font explore-text">
      <span>Explore People</span>
    </div>
    <span id="blue-arrow" class="arrow"></span>
  </a>
  <a href="/" id="explore-projects" class="box">
    <div class="common-font explore-text">
      <span>Explore Projects</span>
    </div>
    <span id="green-arrow" class="arrow"></span>
  </a>
  <div>

  </div>
</div>