#explore-section {
    position: absolute;
    width: 1440px;
    height: 640px;
    left: 0px;
    top: 80px;
    z-index: 99;
    border-radius: 0px;

    background: var(--fundo);

    #match-title {
        position: absolute;
        width: 480px;
        height: 104px;
        left: 241px;
        top: 177px;

        font-size: 26px;
        line-height: 30px;
        display: flex;
        align-items: center;

        color: var(--preto);
    }

    #descriptive-text-explore {
        position: absolute;
        width: 399px;
        height: 46px;
        left: 241px;
        top: 272px;

        font-size: 13px;
        line-height: 15px;

        color: var(--preto);
    }

    #explore-people {
        position: absolute;
        width: 400px;
        height: 52px;
        left: 240px;
        top: 372px;

        /* White */

        background: var(--branco);
        /* Blue */

        border: 2px solid var(--azul);
        box-sizing: border-box;

        div {
            color: var(--azul);
        }

        #blue-arrow {
            background: url("../../../../../assets/icons/arrow-1.svg");
        }
    }

    #explore-projects {
        position: absolute;
        width: 400px;
        height: 52px;
        left: 240px;
        top: 455px;

        background: var(--branco);

        border: 2px solid var(--verde);
        box-sizing: border-box;

        div {
            color: var(--verde);
        }

        #green-arrow {
            background: url("../../../../../assets/icons/arrow-2.svg");
        }
    }
}

.arrow {
    background-position: center center;
    background-repeat: no-repeat;

    position: absolute;
    width: 13px;
    height: 23px;
    left: 371px;
    top: 14px;
}

.explore-text {
    position: absolute;
    width: 237px;
    height: 28px;
    left: 20px;
    top: 9px;

    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}
