<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group-trigger">
          <label class="common-font" for="email">E-mail</label>
          <input class="box" id="email" type="email" formControlName="email" required/>
      </div>
      <div class="input-group-trigger">
          <label class="common-font" for="pass">Password</label>
          <input class="box" id="pass" type="password" formControlName="password" required/>
      </div>
      <div class="input-group-trigger">
        <label class="common-font" for="url">Do you have a link to register?</label>
        <input class="box" id="url" type="url" placeholder="If not ignore it" formControlName="emailCode"/>
    </div>
      <button type="submit" class="box common-font" id="form-submit-button">
          REGISTER
      </button>
  </form>
</div>
