<div>
  <form>
      <div class="input-group">
          <label for="email">Email</label>
          <input class="box" id="email" type="email" />
      </div>
      <div class="input-group">
          <label for="pass">Password</label>
          <input class="box" id="pass" type="password" />
      </div>
      <div class="input-group">
        <label for="pass">Do you have a link to register?</label>
        <input class="box" id="pass" type="url" placeholder="If not, ignore!"/>
    </div>
      <div class="box common-font" id="form-submit-button">
          REGISTER
      </div>
  </form>
</div>
