<div class="d-flex justify-content-center mb-3 caixa-1">

  <div class="d-flex caixa-perfil">

    <div class="p-2 flex-fill imagem-perfil-container">
      <img src="../../../../../../assets/img/palceholder-redondo.svg" class="rounded-circle imagem-perfil">
    </div>

    <div class="p-2 conteudos-perfil flex-fill">
      <h3>Nome do Utilizador</h3>
      <h4>Actividade</h4>
      <br>

      <div class="d-flex contadores">
        <div class="p-2 flex-fill">
          <p><span class="cor-contadores">28</span> Views</p>
        </div>
        <div class="p-2 flex-fill">
          <p><span class="cor-contadores">28</span> Views</p>
        </div>
        <div class="p-2 flex-fill">
          <p><span class="cor-contadores">28</span> Views</p>
        </div>
      </div>
    </div>

    <div class="p-2 conteudos-perfil flex-fill status">
      <p><span class="cinza">Avaliability</span></p>
      <p><span style="color: var(--amarelo)"><i class="fas fa-circle"></i></span>&nbsp;<span
          class="cor-contadores">PART-TIME</span></p>
    </div>

  </div>

</div>