<div class="card box">
  <div class="row g-0">
    <div class="col-md-3">
      <div class="image">

      </div>
    </div>
    <div id="user-info" class="col-md-5">
      <p id="name" class="common-font">Carla Santos</p>
      <p id="position" class="common-font">RESEARCHER</p>
      <a id="institution-name" class="common-font">UNIVERSITY OF ÉVORA</a>
      <div id="user-stats">
        <span><span class="stats-number common-font">28</span> Views</span>
        <span><span class="stats-number common-font">5</span> Projects</span>
        <span><span class="stats-number common-font">14</span> Recommendations</span>
      </div>
    </div>
    <div id="user-edit" class="col-md-4">
      <div class="float-end">
        <div class="edit-buttons">
          <button id="cog" type="button" class="btn btn-primary"></button>
          <button id="edit-profile" type="button" class="btn btn-primary common-font">Edit Profile</button>
        </div>
        <div id="availability">
          <p>Availability:</p>
          <p id="type" class="common-font"><span id="availability-type"></span>PART-TIME</p>
        </div>
      </div>
    </div>
  </div>
</div>